@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
  font-weight: 800;
}

// @font-face {
//     font-family: 'Montserrat';

//     src: url(/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
//     font-weight: 400;
// }

@font-face {
  font-family: "Merriweather";
  src: url(/assets/fonts/Merriweather/Merriweather-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url(/assets/fonts/Merriweather/Merriweather-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

$font_header: "Merriweather", Arial, serif;

$font_para: "Montserrat", Helvetica, sans-serif;
