.logo_rs {
  width: 150px;
}
.theme-dark .logo_rs,
.theme-dark .logo_git {
  filter: invert(100%);
}

.logo_git {
  width: 50px;
}
.link_rs {
  margin-left: auto;
}

.container_footer :first-child {
  margin-left: $gap;
}
.container_footer :last-child {
  margin-right: $gap;
}
