.photo {
  //   width: 200px;
  //   height: 200px;
  //   object-fit: cover;
  //   border-radius: 1em;
  flex-shrink: 0;
  margin: 20px;
  height: 400px;
  width: 400px;
  border: 10px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
}

.photo_border {
  border-radius: 15%;

  background-image: url("/assets/images/avatar.jpg"), $acent-gradient;
}
